{% extends 'base.html.twig' %}

{% block title %}CarteBancaire index{% endblock %}

{% block body %}
    <h1>CarteBancaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumCb</th>
                <th>Date_exp</th>
                <th>NomPrenom</th>
                <th>Id_users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte_bancaire in carte_bancaires %}
            <tr>
                <td>{{ carte_bancaire.id }}</td>
                <td>{{ carte_bancaire.numCb }}</td>
                <td>{{ carte_bancaire.dateExp }}</td>
                <td>{{ carte_bancaire.nomPrenom }}</td>
                <td>{{ carte_bancaire.idUsers }}</td>
                <td>
                    <a href="{{ path('carte_bancaire_show', {'id': carte_bancaire.id}) }}">show</a>
                    <a href="{{ path('carte_bancaire_edit', {'id': carte_bancaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carte_bancaire_new') }}">Create new</a>
{% endblock %}
